<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="main.css">
	<link rel="stylesheet" type="text/css" href="bootstrap">



	<title></title>
</head>
<body>



<%= yield %>







</body>
</html>